.top-activities {
  margin-top: 30px;
}

.top-activities:empty {
  margin: 30px auto 30px auto;

  width: 240px;
  height: 140px;

  background-image:
    linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
    linear-gradient( $pale-grey 400px, transparent 0 ),
    linear-gradient( $pale-grey 400px, transparent 0 ),
    linear-gradient( $pale-grey 400px, transparent 0 ),
    linear-gradient( $pale-grey 400px, transparent 0 ),
    linear-gradient( $pale-grey 400px, transparent 0 );

  background-repeat: no-repeat;

  background-size:
    10px 290px, /* highlight */
    370px 20px,
    370px 20px,
    370px 20px,
    370px 20px,
    370px 20px;

  background-position:
    0 0, /* highlight */
    0 0,
    0 30px,
    0 60px,
    0 90px,
    0 120px;

  animation: shine-top5-bars 1s infinite;
}

