@keyframes shine-chart-bars-daily {
  to {
    background-position:
      0 0, /* move highlight to top */
      0 20px,
      55px 40px,
      110px 80px,
      165px 60px,
      220px 30px,
      275px 70px,
      330px 50px,
      385px 50px;
  }
}

@keyframes shine-chart-bars-weekly {
  to {
    background-position:
      0 0, /* move highlight to top */
      5px 30px,
      145px 140px,
      215px 50px,
      285px 90px,
      75px 100px,
      355px 30px,
      425px 50px;
  }
}

@keyframes shine-top3-bars {
  to {
    background-position:
      100% 0, /* move highlight to right */
      0 0,
      0 30px,
      0 60px;
  }
}

@keyframes shine-top5-bars {
  to {
    background-position:
      100% 0, /* move highlight to right */
      0 0,
      0 30px,
      0 60px,
      0 90px,
      0 120px;
  }
}
