$topbar-navigation-height: 70px;

$navigation-width: 150px;
$content-max-width: 960px;
$footer-height: 75px;

// padding
$padding-s: 6px;
$padding-m: 12px;
$padding-l: 20px;
$padding-xl: 32px;
$padding-xxl: 48px;
$padding-xxxl: 72px;

// margin
$margin-s: 6px;
$margin-m: 12px;
$margin-l: 20px;
$margin-xl: 32px;
$margin-xxl: 48px;
$margin-xxxl: 72px;
